<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.ustc.zayn.hanhaixingyun" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/excited_bbs_logo_512px"
        android:label="@string/app_name" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/LoginTheme" >
        </activity>
        <activity
            android:name=".Explorer.ExploreMainPage"
            android:label="@string/title_activity_explore_main_page"
            android:theme="@style/MainPageIndexTheme" >
        </activity>
        <activity
            android:name=".Explorer.ExploreArticle"
            android:label="@string/title_activity_explore_article"
            android:theme="@style/ReadArticleTheme" >
        </activity>
        <activity
            android:theme="@style/LoginTheme"
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
